
.bgimage {
  background-image: url('./assets/1.jpg');
  position: fixed; /* or absolute, depending on your layout */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.app-container {
  max-width: 90%;
  width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 25px;
  background-color: rgba(253, 253, 253, 0.5);
  z-index: 1;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;   /* Full viewport height */
  width: 100vw;    /* Full viewport width */
  position: relative;
  overflow: hidden;
}

.list {
  text-align: left
}